@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron bg-success text-white">
    <h1>Welcome to Dojo Activity Center</h1>
</div>

<div class="row">
    <div class="col-lg-8 mb-4">
        <partial name="_Register" />
    </div>
    <div class="col-lg-4 mb-4">
        <partial name="_Login" />
    </div>
</div